@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body { font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
    background: linear-gradient(45deg, #0f2027, #203a43, #2c5364); }

.glow-btn {
    font-size: 1.5rem;
    color: #fgf;
    padding: 15px 30px;
    margin: 10px;
    border: 2px solid #e23f8b;
    border-radius: 50px;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

-glow-btn::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(172, 24, 24, 0.3), rgba(0, 255, 255, 0) 70%);
    transition: 0.4s;
    transform: scale(0);
}
.glow-btn:hover::before {
    transform: scale(1);

}

.glow-btn:hover {
    color: #ffffff;
    background-color: #e23f8b;

    box-shadow: 0 0 15px #e23f8b, 0 0 60px #e23f8b, 0 0 120px #e23f8b;
    transition: 0.4s; }

.glow-btn:active {
    transform: scale(0.95);

}
